<!-- Services Section -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Services</h2>
				<h3 class="section-subheading text-muted">
					We create Mobile Apps, Web Apps, Games, AI Solutions and much more.
				</h3>
			</div>
		</div>
		<div class="row text-center">
			<a
				href="https://go.fiverr.com/visit/?bta=517928&brand=fiverrcpa&landingPage=https://www.fiverr.com/vistacodelab"
				target="_blank"
				class="col-md-4"
			>
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Mobile Apps</h4>
				<p class="text-muted">Created with great performance and UX.</p>
			</a>
			<a
				href="https://go.fiverr.com/visit/?bta=517928&brand=fiverrcpa&landingPage=https://www.fiverr.com/vistacodelab"
				target="_blank"
				class="col-md-4"
			>
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Web Apps</h4>
				<p class="text-muted">
					Created with the Best UI and UX for all major browsers
				</p>
			</a>
			<a
				href="https://go.fiverr.com/visit/?bta=517928&brand=fiverrcpa&landingPage=https://www.fiverr.com/vistacodelab"
				target="_blank"
				class="col-md-4"
			>
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Games</h4>
				<p class="text-muted">Created with Fun</p>
			</a>
		</div>
		<div class="row text-center">
			<a
				href="https://go.fiverr.com/visit/?bta=517928&brand=fiverrcpa&landingPage=https://www.fiverr.com/vistacodelab"
				target="_blank"
				class="col-md-4"
			>
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">AI</h4>
				<p class="text-muted">Created for the Future.</p>
			</a>

			<a
				href="https://go.fiverr.com/visit/?bta=517928&brand=fiverrcpa&landingPage=https://www.fiverr.com/vistacodelab"
				target="_blank"
				class="col-md-4"
			>
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Softwares</h4>
				<p class="text-muted">Created with great UI.</p>
			</a>

			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Hardwares</h4>
				<p class="text-muted">Created for simplicity.</p>
			</div>
		</div>
	</div>
</section>
